@import 'src/styles/utils/variables';
@import 'src/styles/utils/media-queries';

.link-card-wrap{
  padding-top: 80px;
}

.link-card-body{
  font-size: 18px;
}

.link-card-body a{
  cursor: pointer;
  border-bottom: 1px solid $blue;

}

.link-card-body p{
  margin-bottom: 10px;
}

.link-title{
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 30px;
}