/* --------------------------------------------------------------------------
 * >>> Skeleton :
 * -------------------------------------------------------------------------- */

.container{
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
