@import 'src/styles/utils/variables';
@import 'src/styles/utils/media-queries';

.create-title{
  margin-top: 80px;
  font-size: 22px;
  margin-bottom: 45px;

  @include md-up{
    font-size: 30px;
  }
}

.create-body input{
  padding: 5px;
  width: 100%;
  height: 45px;
  border-bottom: 2px solid $blue;
}

.create-body input.error{
  border-bottom: 2px solid #F24E1E;
  color: #F24E1E;
}

.create-body input.error::placeholder{
  color: #F24E1E;
}