@import 'src/styles/utils/variables';
@import 'src/styles/utils/media-queries';


.auth-body{
  min-height: 100vh;
}

.auth-body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-title{
  font-weight: 500;
  text-transform: uppercase;
  font-size: 40px;
  padding-top: 150px;
  padding-bottom: 50px;
  color: $blue;
}

.auth-form-wrap{
  padding: 30px;
  border-radius: 10px;
  background: $blue;

  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=35, Direction=0, Color=#000000)";/*IE 8*/
  -moz-box-shadow: 0 0 35px 14px rgba(0,0,0,0.1);/*FF 3.5+*/
  -webkit-box-shadow: 0 0 35px 14px rgba(0,0,0,0.1);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
  box-shadow: 0 0 35px 14px rgba(0,0,0,0.1);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=35, Direction=135, Color=#000000); /*IE 5.5-7*/
}

.auth-form-title{
  font-size: 20px;
  text-align: center;
  margin-bottom: 25px;
  color: $black;
}

.auth-input-wrap{
  input{
    min-width: 260px;
    width: 100%;
    height: 35px;
    border-radius: 40px;
    padding: 10px;
    font-size: 15px;
  }

  input::placeholder{
    font-size: 14px;
    color: $grey-text;
  }
}

.auth-input-wrap:not(:first-child){
  margin-top: 15px;
}

.auth-actions{
  margin-top: 30px;
}

.auth-button{
  border: 1px solid $grey-text;
  border-radius: 3px;
  width: 100%;
  height: 30px;
}

.auth-button:not(:first-child){
  margin-top: 15px;
}

.auth-button[disabled]{
  background: $grey-text;
  opacity: .9;
  cursor: not-allowed;
}