@import 'src/styles/utils/variables';
@import 'src/styles/utils/media-queries';

.nav-wrapper{
  background: $blue;
  color: $black;
  padding: 15px 0;
}

.nav-body ul{
  display: flex;
  justify-content: flex-end;

  li{
    font-size: 16px;
  }

  li:not(:first-child){
    margin-left: 45px;
  }

  a{
    cursor: pointer;
    transition: .5s;
  }

  a:hover{
    color: $white;
  }
}
